{
    "db" : {
        "host" : "",
        "name" : "binance"
    },
    "api" : {
        "apikey" : "",
        "secretkey" : ""
    },
    "pairs" : {
        "BTCUSDT" : { "interval" : "30", "quantity" : 1 }
    }
}